---
import '../styles.css';
import { data } from '../Api/request.js';

const metaDescription = data.sitecore.route.fields['Meta Description'].value;
const titleTag = data.sitecore.route.fields['Title Tag'].value;
const keywords = data.sitecore.route.fields['Keywords'].value;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap" rel="stylesheet">
    <Fragment set:html={metaDescription + titleTag + keywords} />
	</head>
	<body class="bg-black">
    <head>
      <slot name="header" />
    </head>
		<slot />
    <footer class="mt-10">
      <p class="text-center">Sitecore &copy;</p>
    </footer>
	</body>
</html>