---

---

<section class="flex flex-col border border-gray-300 rounded-3xl justify-center height-fit col-span-2 self-start">
  <h2 class="text-center py-4 font-bold capitalize text-lg">Charts</h2>
</section>