---
import { data } from '../Api/request.js';

const previousKeywords = data.sitecore.route.fields['Keywords Previous'].value;
const keywords = data.sitecore.route.fields.Keywords.value;
---

<section class="flex flex-col border border-gray-300 rounded-3xl justify-center height-fit">
  <h2 class="text-center py-4 border-b border-gray-200 font-bold capitalize text-lg">Previous Keyword Research</h2>
  <div class="flex flex-col">
    <div class="p-4 flex flex-col">
      <span class="font-bold capitalize mb-3">high-volume keywords:</span>
      <p>{previousKeywords}</p>
    </div>
  </div>
</section>

<section class="flex flex-col border border-gray-300 rounded-3xl justify-center height-fit">
  <h2 class="text-center py-4 border-b border-gray-200 font-bold capitalize text-lg">Enhanced Keyword Research</h2>
  <div class="flex flex-col">
    <div class="p-4 flex flex-col">
      <span class="font-bold capitalize mb-3">high-volume keywords:</span>
      <p>{keywords}</p>
    </div>
  </div>
</section>