---

---

<section class="flex flex-col border border-gray-300 rounded-3xl justify-center height-fit">
  <h2 class="text-center py-4 border-b border-gray-200 font-bold capitalize text-lg">Keyword Research</h2>
  <div class="flex flex-col">
    <div class="border-b border-gray-200 p-4 flex flex-col">
      <span class="font-bold capitalize mb-3">high-volume keywords:</span>
      <p>Lorem, ipsum, dolor</p>
    </div>
    <div class="border-b border-gray-200 p-4 flex flex-col">
      <span class="font-bold capitalize mb-3">long-tail keywords:</span>
      <p>Lorem ipsum dolor sit., Lorem ipsum dolor sit., Lorem ipsum dolor sit.</p>
    </div>
    <div class="p-4 flex flex-col">
      <span class="font-bold capitalize mb-3">location specific keywords:</span>
      <p>Lorem, ipsum., Lorem, ipsum dolor., Lorem.</p>
    </div>
  </div>
</section>