---
import { data } from '../Api/request.js';

const previousTitleTag = data.sitecore.route.fields['Title Tag Previous'].value;
const titleTag = data.sitecore.route.fields['Title Tag'].value;
const previousMetaDescription = data.sitecore.route.fields['Meta Description Previous'].value;
const metaDescription = data.sitecore.route.fields['Meta Description'].value;
---

<section class="flex flex-col border border-gray-300 rounded-3xl justify-center height-fit">
  <h2 class="text-center py-4 border-b border-gray-200 font-bold capitalize text-lg">Previous On-Page Optimization</h2>
  <div class="flex flex-col">
    <div class="border-b border-gray-200 p-4 flex flex-col">
      <span class="font-bold capitalize mb-3">Previous Title Tags:</span>
      <p>
        Clearly describe the content of each page (ideally include your main keyword).
      </p>
      <code class="mt-5">{previousTitleTag}</code>
    </div>
    <div class="p-4 flex flex-col">
      <span class="font-bold capitalize mb-3">Previous Meta Descriptions:</span>
      <p>
        Write a compelling summary to boost click-through rates in search results.
      </p>
      <code class="mt-5">{previousMetaDescription}</code>
    </div>
  </div>
</section>

<section class="flex flex-col border border-gray-300 rounded-3xl justify-center height-fit">
  <h2 class="text-center py-4 border-b border-gray-200 font-bold capitalize text-lg">Enhanced On-Page Optimization</h2>
  <div class="flex flex-col">
    <div class="border-b border-gray-200 p-4 flex flex-col">
      <span class="font-bold capitalize mb-3">Enhanced Title Tags:</span>
      <p>
        Clearly describe the content of each page (ideally include your main keyword).
      </p>
      <code class="mt-5">{titleTag}</code>
    </div>
    <div class="p-4 flex flex-col">
      <span class="font-bold capitalize mb-3">Enhanced Meta Descriptions:</span>
      <p>
        Write a compelling summary to boost click-through rates in search results.
      </p>
      <code class="mt-5">{metaDescription}</code>
    </div>
  </div>
</section>